<div class="flex h-screen bg-gray-100">
   <div class="flex h-screen bg-gray-100">
    <aside class="w-64 bg-white shadow-md hidden md:block">
        <nav class="mt-4">
        <a routerLink="/home" routerLinkActive="active" class="block px-4 py-2 text-gray-600 hover:bg-gray-100">Home</a>
        <a routerLink="/orders" routerLinkActive="active" class="block px-4 py-2 text-gray-600 hover:bg-gray-100">Orders</a>
        <a routerLink="/products" routerLinkActive="active" class="block px-4 py-2 text-gray-600 hover:bg-gray-100">Products</a>
        </nav>
    </aside>
  </div> 
</div>
